body {
  background-color: #013328;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/***************** 
* Section : Header 
* Owner : Adrian Koornneef
* Date  : Nov-11-22 (v1)
* From  : https://www.w3schools.com/css/css3_gradients.asp
******************/
/*Acting as a header that provides accent to the logo*/
.hero-head {
  background-image: linear-gradient(to right, rgba(89,86.3, 82.4,0),rgba(89,86.3, 82.4,1)); /*Gradient*/
  height: 95px;  /*Reference this height for responsive positioning of other elements, they should be below this ad the logo*/
  position: relative; /*relative to the top of the page*/
  top: 0;  /*positioning at the very top and left*/
  left: 0;
}

/***************** 
* Section : Navbar
* Owner : Adrian Koornneef
* Date  : Nov-11-22 (v1)
* From  : https://www.w3schools.com/css/tryit.asp?filename=trycss_template4 
        https://www.w3schools.com/howto/howto_js_tabs.asp
        https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration
        https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow

******************/
/*  */
.MAVsidenav {
  height: 100%;   
  width: 20%;  /* Will flex, allows enough space for links and phone viewing. All content div elements should be in relation to this with margin-left and pad-left */
  position: fixed;
  z-index: 0; /*This must be below the logo if we make any design changes to bring the logo back to overlapping navbar strategy */
  top: 0;
  left: 0;
  background-color:rgb(204,139, 101);
  overflow-x: scroll;  /* If we lose to much real estate on small screens e.g. smart phones, will allow to scroll to see rest of link*/
  padding-top: 151px;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
}
/*For the links within the navar*/
.MAVsidenav a {
  padding: 6px 12px 18px 21px;
  text-decoration: none;
  text-shadow: 1px 1px 1.25px black;  /* last px variable determines size*/
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #ffffff;
  text-align: left; /*Relevant if the navbar gets to small manages space better*/
  display: flex;
}
/*The characteristics when hovered over.*/
.MAVsidenav a:hover {
  background-color: #E3DCD2 ;
  color: #100C0D;
  font-family: 'Roboto', sans-serif;
} 
/*to distinguish active page.*/
.MAVsidenav a.active {
text-decoration: underline #013328;
font-family: 'Roboto', sans-serif;
color: #ffffff; 
} 


.content { 
  margin-left: 20%;
  padding-left: 25px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: #b4b4b4;
  padding-top: 75px;
}

h1{
  font-size: 50px;
  font-family: 'Vidaloka';
  color: #ffffff;
}
h2{
  font-size: 30px;
  font-family: 'Vidaloka';
  color: #ffffff;
}
h3{
  font-size: 18px;
  font-style: italic;
  color: #787878;
}
h4{
  font-size: 20px;
  font-style: italic;
  color: #ffffff;
}
p{
  font-size: 18px;
  color: #b4b4b4;
}

/* Style Logo - Khazana Ahmadli
}

*/
.logo { 
  position: absolute;
  margin-left: 20%;
  padding-left: 15px;
  top:15px;
  left: 16px;
  z-index: 1;
  display: block;
  width: 100%;
  height: auto;
  
}
/***************** 
* Section : Body 
* Owner : Ashley Allan
* Date  : Nov-25-22
* From  : https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid
******************/
/* Create three columns that float next to each other */
.column {
  float: left;
  width: 22%;
  padding: 15px;
}

/* Clear floats after the columns - this is important because it forces the containing element to expand to contain child elements, and forces subsequent elements to appear below it */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes columns stack on top of each other as page size gets smaller*/
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

/* Style Services
Owner: Khazana Ahmadli
Date: November 28, 2022
From https://www.w3schools.com/css/tryit.asp?filename=trycss_list-style-type_ex */ 

/* Styles services content*/
.services { 
  margin-left: 25%;
  padding-left: 5px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #b4b4b4;
  padding-top: 75px;
  line-height: 2.5;
}
/* Adds square bullets to the listed content */
ul.square {
  list-style-type: square;
}

img {
  max-width:100%;height:auto
}

/* Style Services
Owner: Khazana Ahmadli
Date: December 01, 2022
https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_gallery_responsive
/* Style images in Cartography page */

.mapgallery {
  margin-left: 50%;
  padding-left: 5px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #b4b4b4;
}
div.gallery img {
  width: 100%;
  height: auto;
  margin-left: 90%;
  padding-left: 5px;
}


.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

/* Style Services
Owner: Khazana Ahmadli
Date: December 01, 2022
https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_gallery_responsive and https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_round
/* Style images in Surveying page */

div.survey img {
  max-width:100%;
  height: auto;
  margin-left: 25%;
  padding-left: 5px;
  border-radius: 25px;
}

div.survey1 img {
  max-width:100%;
  height: auto;
  margin-left: 65%;
  padding-left: 5px;
  border-radius: 25px;
  margin-top: 90px;
}

div.survey2 img {
  max-width:100%;
  height: auto;
  margin-left: 25%;
  padding-left: 5px;
  border-radius: 25px;
  margin-top: 200px;
}

/*Janet Pricing table
* {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  float: left;
  width: 33.3%;
  padding: 20px;
  max-width: 300px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #E3DCD2;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Pricing header */
.price .header {
  background-color: #CC8B65;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #E3DCD2;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #E3DCD2;
  color: black;
  font-family: ;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: #CC8B65;
  border: none;
  color:white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}